
  <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/portfolio">Portfolio</a>
    <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/blog">Blog</a>
    <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/about">About</a>
    <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/contact">Contact</a>
    <a class="mdl-navigation__link" routerLinkActive="is-active" routerLink="/login">Login</a>

  </nav>
